artcoded/src/main/resources/cv/* linguist-vendored
artcoded/src/main/resources/invoice/* linguist-vendored
artcoded/src/main/resources/settings/* linguist-vendored
artcoded/src/main/resources/sparql/* linguist-vendored
artcoded/src/main/resources/templates/* linguist-vendored
artcoded/src/main/resources/timesheet/* linguist-vendored
